@page
@model ASPCoreWithKV.Pages.KeyVaultSecretsModel
@{
    ViewData["Title"] = "KeyVaultSecrets";
}

<h2>KeyVault Secrets</h2>

<p>
    The KeyVault secret is: <strong> @Model.SecretValue</strong>
    <br />
    The Config setting from Key Vault is: <strong>@Model.ConfigSetting</strong>
</p>